*{
  margin: 0px;
  padding: 0%;
  font-family: sans-serif;
}
#links{
  border: solid 1px;
  height: 38px;
  background-color: #3d0892;
  color: white;
 line-height: 38px;
}
#t1,#t2,#t3,#t4,#t5{
  color: white;
  font-size: 23px;
  text-decoration: none;
  padding-right: 20px;
 
}
#t1{
  padding-left: 35px;
}
.out1{
  border: solid 1px;
  height: 170px;
  display: flex;
}

#in1,#in2{
  border: solid 1px;
  height: 170px;
}
#in1{
  width: 170px;
  height: 170px;
}
#in2{
  width: 1130px;
  text-align: center;
  background-color: rgb(182, 11, 137);
}
#clg{
  font-size: 55px;
  color: rgb(30, 255, 0);
}
#txt1,#txt2{
  color: rgb(11, 16, 11);
  font-size: 22px;
  font-weight: bold;
}
#ugc{
  background-color: brown;
  color: aqua;
  font-size: 20px;
  font-weight: bold;
}
#navbox{
  border: solid 1px;
  height: 50px;
}
ul li{
  border: solid 1px;
 border-bottom: none;
  height: 50px;
  width: 182px;
  float: left;
  background-color: navy;
  color: whitesmoke;
  text-align: center;
  line-height: 50px;
  border-radius: 25px;
  margin-bottom: 1px;
  
}
ul li a{
  color: whitesmoke;
  text-decoration: none;
}
ul{
  list-style: none;
}
ul li ul li{
  display: none;
}
ul li:hover{
  background-color: red;
}
ul li:hover ul li{
  display: block;
  z-index: 1;
  position: relative;
  background-color: rgb(29, 7, 7);
}

.logos{
  border: solid 1px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}
#lg1,#lg2,#lg3,#lg4,#lg5{
  border: solid 1px;
  height: 200px;
  width: 180px;
  border-radius: 50%;
  
  
}
.obox{
  border: solid 1px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
#inbox1,#inbox2,#inbox3{
  border: solid 1px;
  height: 400px;
}

#inbox1{
  width: 600px;
  background-image: url(bg-1.webp);
   background-repeat: no-repeat;
   background-size: 600px 400px;
   animation-name:imgchange ;
   animation-duration: 10s;
   animation-iteration-count: infinite;
}

#inbox2,#inbox3{
  width: 300px;
  text-align: center;
  
 
}
@keyframes imgchange{
  0%{
    background-image: url(bg-2.jpg);
  }
  10%{
    background-image: url(bg-3.webp);
  }
  20%{
    background-image: url(bg-4.webp);
  }
  30%{
    background-image: url(bg-5.webp);
  }
  40%{
    background-image: url(bg-6.webp);
  }
}


